<footer class="bg-lime-100 text-lime-950 mt-12">
  <div class="container mx-auto px-10 py-8 flex flex-col md:flex-row justify-between gap-6">

    <!-- Contact info -->
    <div class="flex-1">
      <h3 class="font-bold mb-2 text-lg">AnimalRescue</h3>
      <p>123 Rescue Farm Lane</p>
      <p>Open: Mon-Sun 09:00 - 18:00</p>
    </div>

    <!-- Map -->
    <div class="flex-1 w-full">
      <h3 class="font-bold mb-2 text-lg">Find us</h3>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4359.849799270126!2d-1.5953704008338563!3d50.857422902874184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487386cfa8ded667%3A0x9b56057a373c022a!2sNew%20Forest%20National%20Park!5e0!3m2!1sen!2suk!4v1765489874157!5m2!1sen!2suk" 
        class="w-full h-64 md:h-32 rounded"
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
    </div>

  </div>
  <div class="text-center text-sm mt-4 mb-4">
    &copy; {{ now.year }} AnimalRescue. All rights reserved.
  </div>
</footer>
