{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description Block -->
    {% block meta_description %}
    <meta name="description" content="Rescue and support animals in need through donations and volunteering">
    {% endblock %}
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- STRIPE.JS -->
    <script src="https://js.stripe.com/v3/"></script>

    <title>{% block title %}AnimalRescue{% endblock %}</title>
</head>
<body class="flex flex-col min-h-screen bg-lime-50/50">

<!-- Navbar Top -->
{% include 'includes/nav_main.html' %}

<!-- Navbar Categories -->
{% include 'includes/nav_mobiles.html' %}

<!-- Hero (shown only if page provides it) -->
{% block hero %}
{% endblock %}

<!-- Main content -->
<main class="flex-grow">
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
{% include 'includes/footer.html' %}

{% block postloadjs %}
<!-- Custom JavaScript files -->
{% endblock %}
</body>
</html>